  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <ul class="element.style">&copy
                    <a href="http://edwingrafik.github.io/start/" target="_top">
      {% assign thisyear = site.time | date: "%Y" %}
      {% if site.first_published %}
        {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
        {% if diff contains '-' %}{{ site.first_published }},{% endif %}
      {% endif %}
      {{ thisyear }}
      {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}
    </a>
    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
