<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">O mnie</h3><br>
                </div>
            </div>

            <div class="row">
                {% for member in site.people %}
                <div class="col-lg-12 text-center">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="edwingrafik">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted text-center">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                                    {% for network in site.social %}
                                    <li>
                                      <a href="{{ network.url }}">
                                        <i class="fa fa-{{ network.title }}"></i>
                                      </a>
                                    </li>
                                    {% endfor %}
                                  </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Doświadczony grafik, specjalizujący się w tworzeniu wizerunku firm. Moja praca jest oparta o najnowsze trendy i najwyższe standardy. Pomagam przedsiębiorcom wykreować markę tak, aby ich biznes zawsze trafiał w potrzeby klientów. Jeśli wierzysz, że dla Twojej firmy logo to coś więcej niż szyld reklamowy, a wizytówka to nie tylko kawałek papieru - dobrze trafiłeś.</p>
                </div>
            </div>
        </div>
    </section>
