<!DOCTYPE html>
<html lang="pl-PL">

  {% include head.html %}
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
</script>

    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include about.html %}
    {% include portfolio_grid.html %}
    {% include team.html %}
    {% include contact.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
